footer{
    background-color: var(--colorPatito);
    width: 100%;
    height: 30%;
}
footer .footer{
width: 100%;
height: 50%;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
footer .footer .logo{
    width: 28%;
    margin: 1px;
}
footer .footer .logo img{
    width: 100%;
}
footer .footer ul{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer .footer ul li{
    width: 28%;
    margin: 1px;

}
footer .footer ul li a {
   text-transform: uppercase;

}

footer .footer ul .mapa{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}
footer .footer ul .mapa a{
    width: 20%
}
footer .footer ul  .map{
    width: 80%
}

footer .footer ul .newsletter{
    display: none;
}
footer .footer ul .productos{
    display: none;
}

