header{
    padding: 20px 0 ;
    background-color: var(--colorPatito) ;
    margin-bottom: 20px;
    width: 100%;
}

header .barratop{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around

}

header .logo{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start
}
header .logo img{
    width: 100%;

    
}
header .burger{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}
header .search{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}
header .burger,.search i{
    font-size: 30px;
    color: var(--colorAzul);
}
header nav{
    display: none;
}

/* TABLET */
@media (min-width:461px){
    header nav{
        display: none;
    }
}
